##### IMPORT LIBRARIES

In [22]:
import os
import pandas as pd
import numpy as np

##### PREPARING DATASET KONSUMSI BUMBU TAHUN 2018 - 2022

In [23]:
# PREPARING DATASET KONSUMSI BUMBU TAHUN 2018

#Get path working directory and import dataset 2018
pwd = os.getcwd()
df2018 = pd.read_excel(pwd + "/dataset/Rata-rata Pengeluaran Perkapita Seminggu  Menurut Kelompok Bumbu-Bumbuan Per Kabupaten_kota_2018.xlsx")

# Change first row in Kabupaten/Kota column
df2018.loc[0, 'Kabupaten/Kota'] = 'Kabupaten/Kota'

# Set first row as header
df2018.columns = df2018.iloc[0]

# Remove the first row from the data
df2018 = df2018[1:] 

# Keep only two columns
df2018 = df2018[['Kabupaten/Kota', 'Sambal jadi', 'Bumbu maskan jadi/kemasan, bumbu racikan']]

#Add column Tahun
df2018.loc[:, 'Tahun'] = df2018.loc[1, 'Sambal jadi']

# Remove rows 518 and 519
rows_to_remove = [518, 519]
df2018.drop(rows_to_remove, inplace=True)

# Drop rows with missing values in "Kabupaten/Kota" column
df2018.dropna(subset=['Kabupaten/Kota'], inplace=True)

# Change the value from 'Kota Baru' to 'Kotabaru'
df2018.loc[df2018['Kabupaten/Kota'] == 'Kota Baru', 'Kabupaten/Kota'] = 'Kotabaru'

# Remove "Kota " from the Kabupaten/Kota column
df2018['Kabupaten/Kota'] = df2018['Kabupaten/Kota'].str.replace('Kota ', '')

# Keep only the unique values in 'Kabupaten/Kota'
df2018 = df2018.drop_duplicates(subset='Kabupaten/Kota')

# Reset the index after removing rows
df2018.reset_index(drop=True, inplace=True)

df2018

0   Kabupaten/Kota Sambal jadi Bumbu maskan jadi/kemasan, bumbu racikan Tahun
0         Simeulue          42                                       87  2018
1     Aceh Singkil          17                                      106  2018
2     Aceh Selatan           1                                       53  2018
3    Aceh Tenggara          23                                       96  2018
4       Aceh Timur           2                                       94  2018
..             ...         ...                                      ...   ...
483         Yalimo           -                                       16  2018
484         Puncak           -                                        -  2018
485        Dogiyai           -                                        -  2018
486     Intan Jaya           -                                       12  2018
487         Deiyai           2                                        6  2018

[488 rows x 4 columns]

In [24]:
# PREPARING DATASET KONSUMSI BUMBU TAHUN 2019

#Get path working directory and import dataset 2019
pwd = os.getcwd()
df2019 = pd.read_excel(pwd + "/dataset/Rata-rata Pengeluaran Perkapita Seminggu  Menurut Kelompok Bumbu-Bumbuan Per Kabupaten_kota_2019.xlsx")

# Change first row in Kabupaten/Kota column
df2019.loc[0, 'Kabupaten/Kota'] = 'Kabupaten/Kota'

# Set first row as header
df2019.columns = df2019.iloc[0]

# Remove the first row from the data
df2019 = df2019[1:] 

# Keep only two columns
df2019 = df2019[['Kabupaten/Kota', 'Sambal jadi', 'Bumbu maskan jadi/kemasan, bumbu racikan']]

#Add column Tahun
df2019.loc[:, 'Tahun'] = df2019.loc[1, 'Sambal jadi']

# Remove rows 518 and 519
rows_to_remove = [518, 519]
df2019.drop(rows_to_remove, inplace=True)

# Drop rows with missing values in "Kabupaten/Kota" column
df2019.dropna(subset=['Kabupaten/Kota'], inplace=True)

# Change the value from 'Kota Baru' to 'Kotabaru'
df2019.loc[df2019['Kabupaten/Kota'] == 'Kota Baru', 'Kabupaten/Kota'] = 'Kotabaru'

# Remove "Kota " from the Kabupaten/Kota column
df2019['Kabupaten/Kota'] = df2019['Kabupaten/Kota'].str.replace('Kota ', '')

# Keep only the unique values in 'Kabupaten/Kota'
df2019 = df2019.drop_duplicates(subset='Kabupaten/Kota')

# Reset the index after removing rows
df2019.reset_index(drop=True, inplace=True)

df2019

0   Kabupaten/Kota Sambal jadi Bumbu maskan jadi/kemasan, bumbu racikan Tahun
0         Simeulue           7                                       58  2019
1     Aceh Singkil          18                                       36  2019
2     Aceh Selatan          10                                       46  2019
3    Aceh Tenggara          31                                       63  2019
4       Aceh Timur          12                                       94  2019
..             ...         ...                                      ...   ...
483         Yalimo           -                                       44  2019
484         Puncak           -                                        -  2019
485        Dogiyai          44                                        6  2019
486     Intan Jaya           -                                        -  2019
487         Deiyai           -                                        -  2019

[488 rows x 4 columns]

In [25]:
# PREPARING DATASET KONSUMSI BUMBU TAHUN 2020

#Get path working directory and import dataset 2020
pwd = os.getcwd()
df2020 = pd.read_excel(pwd + "/dataset/Rata-rata Pengeluaran Perkapita Seminggu  Menurut Kelompok Bumbu-Bumbuan Per Kabupaten_kota_2020.xlsx")

# Change first row in Kabupaten/Kota column
df2020.loc[0, 'Kabupaten/Kota'] = 'Kabupaten/Kota'

# Set first row as header
df2020.columns = df2020.iloc[0]

# Remove the first row from the data
df2020 = df2020[1:] 

# Keep only two columns
df2020 = df2020[['Kabupaten/Kota', 'Sambal jadi', 'Bumbu maskan jadi/kemasan, bumbu racikan']]

#Add column Tahun
df2020.loc[:, 'Tahun'] = df2020.loc[1, 'Sambal jadi']

# Remove rows 518 and 519
rows_to_remove = [518, 519]
df2020.drop(rows_to_remove, inplace=True)

# Drop rows with missing values in "Kabupaten/Kota" column
df2020.dropna(subset=['Kabupaten/Kota'], inplace=True)

# Change the value from 'Kota Baru' to 'Kotabaru'
df2020.loc[df2020['Kabupaten/Kota'] == 'Kota Baru', 'Kabupaten/Kota'] = 'Kotabaru'

# Remove "Kota " from the Kabupaten/Kota column
df2020['Kabupaten/Kota'] = df2020['Kabupaten/Kota'].str.replace('Kota ', '')

# Keep only the unique values in 'Kabupaten/Kota'
df2020 = df2020.drop_duplicates(subset='Kabupaten/Kota')

# Reset the index after removing rows
df2020.reset_index(drop=True, inplace=True)

df2020

0   Kabupaten/Kota Sambal jadi Bumbu maskan jadi/kemasan, bumbu racikan Tahun
0         Simeulue          11                                       97  2020
1     Aceh Singkil           5                                       45  2020
2     Aceh Selatan           4                                       58  2020
3    Aceh Tenggara          27                                      136  2020
4       Aceh Timur           6                                      116  2020
..             ...         ...                                      ...   ...
483         Yalimo         115                                        -  2020
484         Puncak           -                                        -  2020
485        Dogiyai          11                                      209  2020
486     Intan Jaya           -                                        1  2020
487         Deiyai         130                                       72  2020

[488 rows x 4 columns]

In [26]:
# PREPARING DATASET KONSUMSI BUMBU TAHUN 2021

#Get path working directory and import dataset 2021
pwd = os.getcwd()
df2021 = pd.read_excel(pwd + "/dataset/Rata-rata Pengeluaran Perkapita Seminggu  Menurut Kelompok Bumbu-Bumbuan Per Kabupaten_kota_2021.xlsx")

# Change first row in Kabupaten/Kota column
df2021.loc[0, 'Kabupaten/Kota'] = 'Kabupaten/Kota'

# Set first row as header
df2021.columns = df2021.iloc[0]

# Remove the first row from the data
df2021 = df2021[1:] 

# Keep only two columns
df2021 = df2021[['Kabupaten/Kota', 'Sambal jadi', 'Bumbu maskan jadi/kemasan, bumbu racikan']]

#Add column Tahun
df2021.loc[:, 'Tahun'] = df2021.loc[1, 'Sambal jadi']

# Remove rows 518 and 519
rows_to_remove = [518, 519]
df2021.drop(rows_to_remove, inplace=True)

# Drop rows with missing values in "Kabupaten/Kota" column
df2021.dropna(subset=['Kabupaten/Kota'], inplace=True)

# Change the value from 'Kota Baru' to 'Kotabaru'
df2021.loc[df2021['Kabupaten/Kota'] == 'Kota Baru', 'Kabupaten/Kota'] = 'Kotabaru'

# Remove "Kota " from the Kabupaten/Kota column
df2021['Kabupaten/Kota'] = df2021['Kabupaten/Kota'].str.replace('Kota ', '')

# Keep only the unique values in 'Kabupaten/Kota'
df2021 = df2021.drop_duplicates(subset='Kabupaten/Kota')

# Reset the index after removing rows
df2021.reset_index(drop=True, inplace=True)

df2021

0   Kabupaten/Kota Sambal jadi Bumbu maskan jadi/kemasan, bumbu racikan Tahun
0         Simeulue          24                                       56  2021
1     Aceh Singkil           5                                      122  2021
2     Aceh Selatan           4                                       41  2021
3    Aceh Tenggara           6                                      120  2021
4       Aceh Timur           4                                       76  2021
..             ...         ...                                      ...   ...
483         Yalimo           5                                      132  2021
484         Puncak           -                                        -  2021
485        Dogiyai           3                                       80  2021
486     Intan Jaya           -                                        -  2021
487         Deiyai           -                                        -  2021

[488 rows x 4 columns]

In [27]:
# PREPARING DATASET KONSUMSI BUMBU TAHUN 2022

#Get path working directory and import dataset 2022
pwd = os.getcwd()
df2022 = pd.read_excel(pwd + "/dataset/Rata-rata Pengeluaran Perkapita Seminggu  Menurut Kelompok Bumbu-Bumbuan Per Kabupaten_kota_2022.xlsx")

# Change first row in Kabupaten/Kota column
df2022.loc[0, 'Kabupaten/Kota'] = 'Kabupaten/Kota'

# Set first row as header
df2022.columns = df2022.iloc[0]

# Remove the first row from the data
df2022 = df2022[1:] 

# Keep only two columns
df2022 = df2022[['Kabupaten/Kota', 'Sambal jadi', 'Bumbu maskan jadi/kemasan, bumbu racikan']]

#Add column Tahun
df2022.loc[:, 'Tahun'] = df2022.loc[1, 'Sambal jadi']

# Remove rows 518 and 519
rows_to_remove = [518, 519]
df2022.drop(rows_to_remove, inplace=True)

# Drop rows with missing values in "Kabupaten/Kota" column
df2022.dropna(subset=['Kabupaten/Kota'], inplace=True)

# Change the value from 'Kota Baru' to 'Kotabaru'
df2022.loc[df2022['Kabupaten/Kota'] == 'Kota Baru', 'Kabupaten/Kota'] = 'Kotabaru'

# Remove "Kota " from the Kabupaten/Kota column
df2022['Kabupaten/Kota'] = df2022['Kabupaten/Kota'].str.replace('Kota ', '')

# Keep only the unique values in 'Kabupaten/Kota'
df2022 = df2022.drop_duplicates(subset='Kabupaten/Kota')

# Reset the index after removing rows
df2022.reset_index(drop=True, inplace=True)

df2022

0   Kabupaten/Kota Sambal jadi Bumbu maskan jadi/kemasan, bumbu racikan Tahun
0         Simeulue          10                                      141  2022
1     Aceh Singkil           8                                      107  2022
2     Aceh Selatan           1                                       54  2022
3    Aceh Tenggara          20                                      184  2022
4       Aceh Timur           4                                      287  2022
..             ...         ...                                      ...   ...
483         Yalimo          18                                       33  2022
484         Puncak           -                                        -  2022
485        Dogiyai           -                                       27  2022
486     Intan Jaya           -                                        -  2022
487         Deiyai           -                                        -  2022

[488 rows x 4 columns]

In [28]:
# COMBINE DATASET BUMBU 2018 - 2022

# Concatenate the DataFrames vertically
df_bumbu = pd.concat([df2018, df2019, df2020, df2021, df2022])

# Reset the index of the combined DataFrame
df_bumbu = df_bumbu.reset_index(drop=True)

df_bumbu

0    Kabupaten/Kota Sambal jadi Bumbu maskan jadi/kemasan, bumbu racikan Tahun
0          Simeulue          42                                       87  2018
1      Aceh Singkil          17                                      106  2018
2      Aceh Selatan           1                                       53  2018
3     Aceh Tenggara          23                                       96  2018
4        Aceh Timur           2                                       94  2018
...             ...         ...                                      ...   ...
2435         Yalimo          18                                       33  2022
2436         Puncak           -                                        -  2022
2437        Dogiyai           -                                       27  2022
2438     Intan Jaya           -                                        -  2022
2439         Deiyai           -                                        -  2022

[2440 rows x 4 columns]

##### PREPARE DATASET KONSUMSI CABE TAHUN 2018 - 2022

In [29]:
#Get path working directory and import dataset 2018 cabe
pwd = os.getcwd()
df_cabe_2018 = pd.read_excel(pwd + "/dataset/konsumsi_cabe/Rata-rata Pengeluaran Perkapita Seminggu  Menurut Kelompok Sayur-Sayuran Per Kabupaten_kota_2018.xlsx")

# Change first row in Kabupaten/Kota column
df_cabe_2018.loc[0, 'Kabupaten/Kota'] = 'Kabupaten/Kota'

# Set first row as header
df_cabe_2018.columns = df_cabe_2018.iloc[0]

# Remove the first row from the data
df_cabe_2018 = df_cabe_2018[1:] 

# Keep only two columns
df_cabe_2018 = df_cabe_2018[['Kabupaten/Kota', 'Cabe merah', 'Cabe hijau', 'Cabe rawit']]

#Add column Tahun
df_cabe_2018.loc[:, 'Tahun'] = df_cabe_2018.loc[1, 'Cabe merah']

# Remove rows 518 and 519
rows_to_remove = [518, 519]
df_cabe_2018.drop(rows_to_remove, inplace=True)

# Drop rows with missing values in "Kabupaten/Kota" column
df_cabe_2018.dropna(subset=['Kabupaten/Kota'], inplace=True)

# Change the value from 'Kota Baru' to 'Kotabaru'
df_cabe_2018.loc[df_cabe_2018['Kabupaten/Kota'] == 'Kota Baru', 'Kabupaten/Kota'] = 'Kotabaru'

# Remove "Kota " from the Kabupaten/Kota column
df_cabe_2018['Kabupaten/Kota'] = df_cabe_2018['Kabupaten/Kota'].str.replace('Kota ', '')

# Keep only the unique values in 'Kabupaten/Kota'
df_cabe_2018 = df_cabe_2018.drop_duplicates(subset='Kabupaten/Kota')

# Reset the index after removing rows
df_cabe_2018.reset_index(drop=True, inplace=True)

df_cabe_2018

0   Kabupaten/Kota Cabe merah Cabe hijau Cabe rawit Tahun
0         Simeulue       2617        143       1324  2018
1     Aceh Singkil       3285        270        580  2018
2     Aceh Selatan       2439         46       1690  2018
3    Aceh Tenggara       2471        440       1017  2018
4       Aceh Timur       1185        558        694  2018
..             ...        ...        ...        ...   ...
483         Yalimo         92          -       2584  2018
484         Puncak          -          -       7798  2018
485        Dogiyai         62          -        714  2018
486     Intan Jaya        574          -       1431  2018
487         Deiyai        694         14        933  2018

[488 rows x 5 columns]

In [30]:
#Get path working directory and import dataset 2019 cabe
pwd = os.getcwd()
df_cabe_2019 = pd.read_excel(pwd + "/dataset/konsumsi_cabe/Rata-rata Pengeluaran Perkapita Seminggu  Menurut Kelompok Sayur-Sayuran Per Kabupaten_kota_2019.xlsx")

# Change first row in Kabupaten/Kota column
df_cabe_2019.loc[0, 'Kabupaten/Kota'] = 'Kabupaten/Kota'

# Set first row as header
df_cabe_2019.columns = df_cabe_2019.iloc[0]

# Remove the first row from the data
df_cabe_2019 = df_cabe_2019[1:] 

# Keep only two columns
df_cabe_2019 = df_cabe_2019[['Kabupaten/Kota', 'Cabe merah', 'Cabe hijau', 'Cabe rawit']]

#Add column Tahun
df_cabe_2019.loc[:, 'Tahun'] = df_cabe_2019.loc[1, 'Cabe merah']

# Remove rows 518 and 519
rows_to_remove = [518, 519]
df_cabe_2019.drop(rows_to_remove, inplace=True)

# Drop rows with missing values in "Kabupaten/Kota" column
df_cabe_2019.dropna(subset=['Kabupaten/Kota'], inplace=True)

# Change the value from 'Kota Baru' to 'Kotabaru'
df_cabe_2019.loc[df_cabe_2019['Kabupaten/Kota'] == 'Kota Baru', 'Kabupaten/Kota'] = 'Kotabaru'

# Remove "Kota " from the Kabupaten/Kota column
df_cabe_2019['Kabupaten/Kota'] = df_cabe_2019['Kabupaten/Kota'].str.replace('Kota ', '')

# Keep only the unique values in 'Kabupaten/Kota'
df_cabe_2019 = df_cabe_2019.drop_duplicates(subset='Kabupaten/Kota')

# Reset the index after removing rows
df_cabe_2019.reset_index(drop=True, inplace=True)

df_cabe_2019

0   Kabupaten/Kota Cabe merah Cabe hijau Cabe rawit Tahun
0         Simeulue       1981        159       1374  2019
1     Aceh Singkil       2193        314        505  2019
2     Aceh Selatan       1785         67       1392  2019
3    Aceh Tenggara       1513        252       1206  2019
4       Aceh Timur       1274        614        644  2019
..             ...        ...        ...        ...   ...
483         Yalimo        319        170       3424  2019
484         Puncak          -          9       7448  2019
485        Dogiyai        505          9        170  2019
486     Intan Jaya        422         13       1912  2019
487         Deiyai         22          8       1992  2019

[488 rows x 5 columns]

In [31]:
#Get path working directory and import dataset 2020 cabe
pwd = os.getcwd()
df_cabe_2020 = pd.read_excel(pwd + "/dataset/konsumsi_cabe/Rata-rata Pengeluaran Perkapita Seminggu  Menurut Kelompok Sayur-Sayuran Per Kabupaten_kota_2020.xlsx")

# Change first row in Kabupaten/Kota column
df_cabe_2020.loc[0, 'Kabupaten/Kota'] = 'Kabupaten/Kota'

# Set first row as header
df_cabe_2020.columns = df_cabe_2020.iloc[0]

# Remove the first row from the data
df_cabe_2020 = df_cabe_2020[1:] 

# Keep only two columns
df_cabe_2020 = df_cabe_2020[['Kabupaten/Kota', 'Cabe merah', 'Cabe hijau', 'Cabe rawit']]

#Add column Tahun
df_cabe_2020.loc[:, 'Tahun'] = df_cabe_2020.loc[1, 'Cabe merah']

# Remove rows 518 and 519
rows_to_remove = [518, 519]
df_cabe_2020.drop(rows_to_remove, inplace=True)

# Drop rows with missing values in "Kabupaten/Kota" column
df_cabe_2020.dropna(subset=['Kabupaten/Kota'], inplace=True)

# Change the value from 'Kota Baru' to 'Kotabaru'
df_cabe_2020.loc[df_cabe_2020['Kabupaten/Kota'] == 'Kota Baru', 'Kabupaten/Kota'] = 'Kotabaru'

# Remove "Kota " from the Kabupaten/Kota column
df_cabe_2020['Kabupaten/Kota'] = df_cabe_2020['Kabupaten/Kota'].str.replace('Kota ', '')

# Keep only the unique values in 'Kabupaten/Kota'
df_cabe_2020 = df_cabe_2020.drop_duplicates(subset='Kabupaten/Kota')

# Reset the index after removing rows
df_cabe_2020.reset_index(drop=True, inplace=True)

df_cabe_2020

0   Kabupaten/Kota Cabe merah Cabe hijau Cabe rawit Tahun
0         Simeulue       2590        202       1280  2020
1     Aceh Singkil       3319        289        617  2020
2     Aceh Selatan       3211         88       1784  2020
3    Aceh Tenggara       1909        341       1057  2020
4       Aceh Timur       1869        815        812  2020
..             ...        ...        ...        ...   ...
483         Yalimo         70          -       2093  2020
484         Puncak          -          -      10074  2020
485        Dogiyai        156          -        125  2020
486     Intan Jaya         41          -       3562  2020
487         Deiyai       3170       3048       1736  2020

[488 rows x 5 columns]

In [32]:
#Get path working directory and import dataset 2021 cabe
pwd = os.getcwd()
df_cabe_2021 = pd.read_excel(pwd + "/dataset/konsumsi_cabe/Rata-rata Pengeluaran Perkapita Seminggu  Menurut Kelompok Sayur-Sayuran Per Kabupaten_kota_2021.xlsx")

# Change first row in Kabupaten/Kota column
df_cabe_2021.loc[0, 'Kabupaten/Kota'] = 'Kabupaten/Kota'

# Set first row as header
df_cabe_2021.columns = df_cabe_2021.iloc[0]

# Remove the first row from the data
df_cabe_2021 = df_cabe_2021[1:] 

# Keep only two columns
df_cabe_2021 = df_cabe_2021[['Kabupaten/Kota', 'Cabe merah', 'Cabe hijau', 'Cabe rawit']]

#Add column Tahun
df_cabe_2021.loc[:, 'Tahun'] = df_cabe_2021.loc[1, 'Cabe merah']

# Remove rows 518 and 519
rows_to_remove = [518, 519]
df_cabe_2021.drop(rows_to_remove, inplace=True)

# Drop rows with missing values in "Kabupaten/Kota" column
df_cabe_2021.dropna(subset=['Kabupaten/Kota'], inplace=True)

# Change the value from 'Kota Baru' to 'Kotabaru'
df_cabe_2021.loc[df_cabe_2021['Kabupaten/Kota'] == 'Kota Baru', 'Kabupaten/Kota'] = 'Kotabaru'

# Remove "Kota " from the Kabupaten/Kota column
df_cabe_2021['Kabupaten/Kota'] = df_cabe_2021['Kabupaten/Kota'].str.replace('Kota ', '')

# Keep only the unique values in 'Kabupaten/Kota'
df_cabe_2021 = df_cabe_2021.drop_duplicates(subset='Kabupaten/Kota')

# Reset the index after removing rows
df_cabe_2021.reset_index(drop=True, inplace=True)

df_cabe_2021

0   Kabupaten/Kota Cabe merah Cabe hijau Cabe rawit Tahun
0         Simeulue       2675        123       1299  2021
1     Aceh Singkil       3267        478        748  2021
2     Aceh Selatan       3059        117       1696  2021
3    Aceh Tenggara       2323        338       1148  2021
4       Aceh Timur       1656        874       1199  2021
..             ...        ...        ...        ...   ...
483         Yalimo        374        440       4343  2021
484         Puncak          -         43      10964  2021
485        Dogiyai       1139          4        628  2021
486     Intan Jaya          -         15       2691  2021
487         Deiyai          1          -       2580  2021

[488 rows x 5 columns]

In [33]:
#Get path working directory and import dataset 2022 cabe
pwd = os.getcwd()
df_cabe_2022 = pd.read_excel(pwd + "/dataset/konsumsi_cabe/Rata-rata Pengeluaran Perkapita Seminggu  Menurut Kelompok Sayur-Sayuran Per Kabupaten_kota_2022.xlsx")

# Change first row in Kabupaten/Kota column
df_cabe_2022.loc[0, 'Kabupaten/Kota'] = 'Kabupaten/Kota'

# Set first row as header
df_cabe_2022.columns = df_cabe_2022.iloc[0]

# Remove the first row from the data
df_cabe_2022 = df_cabe_2022[1:] 

# Keep only two columns
df_cabe_2022 = df_cabe_2022[['Kabupaten/Kota', 'Cabe merah', 'Cabe hijau', 'Cabe rawit']]

#Add column Tahun
df_cabe_2022.loc[:, 'Tahun'] = df_cabe_2022.loc[1, 'Cabe merah']

# Remove rows 518 and 519
rows_to_remove = [518, 519]
df_cabe_2022.drop(rows_to_remove, inplace=True)

# Drop rows with missing values in "Kabupaten/Kota" column
df_cabe_2022.dropna(subset=['Kabupaten/Kota'], inplace=True)

# Change the value from 'Kota Baru' to 'Kotabaru'
df_cabe_2022.loc[df_cabe_2022['Kabupaten/Kota'] == 'Kota Baru', 'Kabupaten/Kota'] = 'Kotabaru'

# Remove "Kota " from the Kabupaten/Kota column
df_cabe_2022['Kabupaten/Kota'] = df_cabe_2022['Kabupaten/Kota'].str.replace('Kota ', '')

# Keep only the unique values in 'Kabupaten/Kota'
df_cabe_2022 = df_cabe_2022.drop_duplicates(subset='Kabupaten/Kota')

# Reset the index after removing rows
df_cabe_2022.reset_index(drop=True, inplace=True)

df_cabe_2022

0   Kabupaten/Kota Cabe merah Cabe hijau Cabe rawit Tahun
0         Simeulue       3361         82       2013  2022
1     Aceh Singkil       3920        376        807  2022
2     Aceh Selatan       3730         45       1793  2022
3    Aceh Tenggara       2996        630       1543  2022
4       Aceh Timur       2700       1038       1308  2022
..             ...        ...        ...        ...   ...
483         Yalimo        311        280       3865  2022
484         Puncak          -        270       9656  2022
485        Dogiyai       1021          1        982  2022
486     Intan Jaya         25          -       2705  2022
487         Deiyai          -          -       3915  2022

[488 rows x 5 columns]

In [34]:
# COMBINE DATASET CABE 2018 - 2022

# Concatenate the DataFrames vertically
df_cabe = pd.concat([df_cabe_2018, df_cabe_2019, df_cabe_2020, df_cabe_2021, df_cabe_2022])

# Reset the index of the combined DataFrame
df_cabe = df_cabe.reset_index(drop=True)

df_cabe

0    Kabupaten/Kota Cabe merah Cabe hijau Cabe rawit Tahun
0          Simeulue       2617        143       1324  2018
1      Aceh Singkil       3285        270        580  2018
2      Aceh Selatan       2439         46       1690  2018
3     Aceh Tenggara       2471        440       1017  2018
4        Aceh Timur       1185        558        694  2018
...             ...        ...        ...        ...   ...
2435         Yalimo        311        280       3865  2022
2436         Puncak          -        270       9656  2022
2437        Dogiyai       1021          1        982  2022
2438     Intan Jaya         25          -       2705  2022
2439         Deiyai          -          -       3915  2022

[2440 rows x 5 columns]

##### MERGE DATA BUMBU DAN DATA CABE

In [35]:
# Joining the DataFrames on column 'Kabupaten/Kota' and 'Tahun'
merged_df = pd.merge(df_bumbu, df_cabe, on=['Kabupaten/Kota', 'Tahun'])
merged_df

,Kabupaten/Kota,Sambal jadi,"Bumbu maskan jadi/kemasan, bumbu racikan",Tahun,Cabe merah,Cabe hijau,Cabe rawit
0,Simeulue,42,87,2018,2617,143,1324
1,Aceh Singkil,17,106,2018,3285,270,580
2,Aceh Selatan,1,53,2018,2439,46,1690
3,Aceh Tenggara,23,96,2018,2471,440,1017
4,Aceh Timur,2,94,2018,1185,558,694
...,...,...,...,...,...,...,...
2435,Yalimo,18,33,2022,311,280,3865
2436,Puncak,-,-,2022,-,270,9656
2437,Dogiyai,-,27,2022,1021,1,982
2438,Intan Jaya,-,-,2022,25,-,2705
2439,Deiyai,-,-,2022,-,-,3915

##### PREPARE LOOKUP TABLE FOR KABUPATEN/KOTA AND PROVINSI

In [36]:
# PREPARE LOOKUP TABLE FOR KABUPATEN/KOTA AND PROVINSI

#Get lookup table for kota/kabupaten and provinsi
pwd = os.getcwd()
df_regions = pd.read_csv(pwd + '/dataset/regions.csv')

# Keep only two columns
df_regions = df_regions[['kab_kota', 'province']]

# Remove "Kab. " and "Kota" from the kab_kota column
df_regions['kab_kota'] = df_regions['kab_kota'].str.replace('Kab. ', '').str.replace('Kota ', '')

# Remove "Prov. " from the province column
df_regions['province'] = df_regions['province'].str.replace('Prov. ', '')

# Rename the column
df_regions = df_regions.rename(columns={'kab_kota': 'Kabupaten/Kota', 'province': 'Provinsi'})

df_regions

        Kabupaten/Kota        Provinsi
0     Kepulauan Seribu  D.K.I. Jakarta
1        Jakarta Pusat  D.K.I. Jakarta
2        Jakarta Utara  D.K.I. Jakarta
3        Jakarta Barat  D.K.I. Jakarta
4      Jakarta Selatan  D.K.I. Jakarta
..                 ...             ...
524              Syria     Luar Negeri
525           Thailand     Luar Negeri
526             Taiwan     Luar Negeri
527               Cina     Luar Negeri
528  Brunei Darussalam     Luar Negeri

[529 rows x 2 columns]

In [37]:
# PREPARE ADDITIONAL LOOKUP TABLE FOR KABUPATEN/KOTA AND PROVINSI

#Get lookup table for kota/kabupaten and provinsi tambahan
pwd = os.getcwd()
df_regions_tambahan = pd.read_excel(pwd + '/dataset/regions_tambahan.xlsx')
df_regions_tambahan

              Kabupaten/Kota                   Provinsi
0         Humbang Hasundutan             Sumatera Utara
1                  Batu Bara             Sumatera Utara
2         Padang Lawas Utara             Sumatera Utara
3           Pematang Siantar             Sumatera Utara
4            Padangsidimpuan             Sumatera Utara
5            Lima Puluh Kota             Sumatera Barat
6                 Banyu Asin           Sumatera Selatan
7               Lubuklinggau           Sumatera Selatan
8                   Mukomuko                   Bengkulu
9               Tulangbawang                    Lampung
10            Pangkal Pinang  Kepulauan Bangka Belitung
11            Tanjung Pinang             Kepulauan Riau
12               Kep. Seribu                DKI Jakarta
13                Karangasem                       Bali
14                 Rote Ndao        Nusa Tenggara Timur
15                   Nagekeo        Nusa Tenggara Timur
16                 Kubu Raya           Kalimantan Barat
17               Banjar Baru         Kalimantan Selatan
18         Kepulauan Sangihe             Sulawesi Utara
19    Siau Tagulandang Biaro             Sulawesi Utara
20                 Toli-Toli            Sulawesi Tengah
21  Pangkajene dan Kepulauan           Sulawesi Selatan
22                   Makasar           Sulawesi Selatan
23              Mamuju Utara             Sulawesi Barat
24            Mamberamo Raya                      Papua
25          Mamberamo Tengah                      Papua
26                    Puncak                 Jawa Barat
27           Halmahera Utara               Maluku Utara
28             Pulau Morotai               Maluku Utara
29                    Fakfak                Papua Barat
30                Jayawijaya                      Papua

In [38]:
# COMBINE LOOKUP TABLE

# Concatenate the DataFrames vertically
combined_df_regions = pd.concat([df_regions, df_regions_tambahan])

# Reset the index of the combined DataFrame
combined_df_regions = combined_df_regions.reset_index(drop=True)

# Remove non-unique values
combined_df_regions = combined_df_regions.drop_duplicates(subset='Kabupaten/Kota')

combined_df_regions

       Kabupaten/Kota        Provinsi
0    Kepulauan Seribu  D.K.I. Jakarta
1       Jakarta Pusat  D.K.I. Jakarta
2       Jakarta Utara  D.K.I. Jakarta
3       Jakarta Barat  D.K.I. Jakarta
4     Jakarta Selatan  D.K.I. Jakarta
..                ...             ...
555            Puncak      Jawa Barat
556   Halmahera Utara    Maluku Utara
557     Pulau Morotai    Maluku Utara
558            Fakfak     Papua Barat
559        Jayawijaya           Papua

[534 rows x 2 columns]

##### MERGE DATASET MERGED WITH LOOKUP TABLE TO ADD PROVINSI COLUMN

In [39]:
# Merge the DataFrames to add the new column Provinsi
merged_df = merged_df.merge(combined_df_regions, on='Kabupaten/Kota', how='left')

# Replace '-' values with NaN 
merged_df['Sambal jadi'] = merged_df['Sambal jadi'].replace('-', np.nan)
merged_df['Bumbu maskan jadi/kemasan, bumbu racikan'] = merged_df['Bumbu maskan jadi/kemasan, bumbu racikan'].replace('-', np.nan)
merged_df['Cabe merah'] = merged_df['Cabe merah'].replace('-', np.nan)
merged_df['Cabe hijau'] = merged_df['Cabe hijau'].replace('-', np.nan)
merged_df['Cabe rawit'] = merged_df['Cabe rawit'].replace('-', np.nan)

merged_df

,Kabupaten/Kota,Sambal jadi,"Bumbu maskan jadi/kemasan, bumbu racikan",Tahun,Cabe merah,Cabe hijau,Cabe rawit,Provinsi
0,Simeulue,42,87,2018,2617,143,1324,Aceh
1,Aceh Singkil,17,106,2018,3285,270,580,Aceh
2,Aceh Selatan,1,53,2018,2439,46,1690,Aceh
3,Aceh Tenggara,23,96,2018,2471,440,1017,Aceh
4,Aceh Timur,2,94,2018,1185,558,694,Aceh
...,...,...,...,...,...,...,...,...
2435,Yalimo,18,33,2022,311,280,3865,Papua
2436,Puncak,NaN,NaN,2022,NaN,270,9656,Jawa Barat
2437,Dogiyai,NaN,27,2022,1021,1,982,Papua
2438,Intan Jaya,NaN,NaN,2022,25,NaN,2705,Papua
2439,Deiyai,NaN,NaN,2022,NaN,NaN,3915,Papua

In [40]:
# CEK FOR NAN VALUE IN COLUMN PROVINSI

# Filter the DataFrame for rows with NaN values in the "Provinsi" column
df_nan_provinsi = merged_df[merged_df['Provinsi'].isna()]

# Print the 'Kabupaten/Kota'
print(df_nan_provinsi['Kabupaten/Kota'])

Series([], Name: Kabupaten/Kota, dtype: object)

##### EXPORT AS CLEAN DATASET

In [41]:
# Reordering the columns
new_order = ['Kabupaten/Kota', 'Provinsi', 'Sambal jadi', 'Bumbu maskan jadi/kemasan, bumbu racikan', 'Cabe merah', 'Cabe hijau', 'Cabe rawit', 'Tahun']
merged_df = merged_df[new_order]
merged_df

,Kabupaten/Kota,Provinsi,Sambal jadi,"Bumbu maskan jadi/kemasan, bumbu racikan",Cabe merah,Cabe hijau,Cabe rawit,Tahun
0,Simeulue,Aceh,42,87,2617,143,1324,2018
1,Aceh Singkil,Aceh,17,106,3285,270,580,2018
2,Aceh Selatan,Aceh,1,53,2439,46,1690,2018
3,Aceh Tenggara,Aceh,23,96,2471,440,1017,2018
4,Aceh Timur,Aceh,2,94,1185,558,694,2018
...,...,...,...,...,...,...,...,...
2435,Yalimo,Papua,18,33,311,280,3865,2022
2436,Puncak,Jawa Barat,NaN,NaN,NaN,270,9656,2022
2437,Dogiyai,Papua,NaN,27,1021,1,982,2022
2438,Intan Jaya,Papua,NaN,NaN,25,NaN,2705,2022
2439,Deiyai,Papua,NaN,NaN,NaN,NaN,3915,2022

In [42]:
# Export the DataFrame to a CSV file
merged_df.to_csv('clean data bumbu - reordered.csv', index=False)